.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events:all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

.App-header {
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: goldenrod;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-top: -100px;
  color:goldenrod;
  background-color: rgb(48, 46, 46);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 10px 8px whitesmoke;
}

h2 {
  color:goldenrod;
  background-color: rgb(48, 46, 46);
  border-radius: 12px;
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 10px 8px whitesmoke;
}

.sections {
  display: inline-flex;
}

.projects {
  display:inline-flex;
  max-width: 80vw;
  
}

.projectDetails {
  display:table;
  justify-content: center;
  align-items: center;
}

.projectPics {
  width: 70%;
  height: auto;
  box-shadow: 10px 10px 8px whitesmoke;
}

.projectDescription {
  font-size:large;
  padding: 10px;
  background-color: rgb(48, 46, 46);
  max-width: 400px;
  border-radius: 12px;
  margin-left: 90px;
}

a {
  text-decoration-line: none;
}

a :hover {
  color:white
}

embed {
  border-radius: 12px;
  box-shadow: 10px 10px 8px whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
