.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events:all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

.App-header {
  margin-top: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: goldenrod;
}

h1 {
  margin-top: -100px;
  color:goldenrod;
  background-color: rgb(48, 46, 46);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 10px 10px 8px whitesmoke;
}

h2 {
  color:goldenrod;
  background-color: rgb(48, 46, 46);
  border-radius: 12px;
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 10px 8px whitesmoke;
}

span {
  background-color: rgb(48, 46, 46);
  display: inline-block;
  width: fit-content;
  color: goldenrod;
  padding: 6px;
  border-radius: 12px;
  margin-left: 200px;
  box-shadow: 10px 10px 8px whitesmoke;
  font-weight: bold;
}

.sections {
  display: inline-flex;
}

.projects {
  display:inline-flex;
  max-width: 80vw;
}

.projectDetails {
  display:table;
  justify-content: center;
  align-items: center;
}

.projectPics {
  width: 70%;
  height: auto;
  box-shadow: 10px 10px 8px whitesmoke;
}

.projectDescription {
  font-size:large;
  padding: 10px;
  background-color: rgb(48, 46, 46);
  max-width: 400px;
  border-radius: 12px;
  margin-left: 30px;
}

a {
  text-decoration-line: none;
}

a :hover {
  color:white
}

a:visited {
  color:goldenrod
}

.emailLink:hover{
  color:white
}

.locationLink:hover{
  color:white
}

.githubLink:hover{
  color:white
}


.phoneLink {
  color:goldenrod
}

.phoneLink:hover{
  color:white
}

embed {
  border-radius: 12px;
  border: solid 5px black;
  box-shadow: 10px 10px 8px whitesmoke;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.phone {
  display:flex;
  flex-direction: column;
}

.email {
  display:flex;
  flex-direction: column;
}

.location {
  display:flex;
  flex-direction:column;
}

.github {
  display:flex;
  flex-direction: column;
}


.phoneIcon {
  width: 7%;
  height: auto;
  margin-bottom: -75px;
  margin-left: 20px;
}

.emailIcon {
  width: 8%;
  height: auto;
  margin-bottom: -75px;
  margin-left: 20px;
}

.locationIcon {
  width: 7%;
  height: auto;
  margin-bottom: -30px;
  margin-left: 20px;
}

.githubIcon {
  width: 7%;
  height: auto;
  margin-bottom: -30px;
  margin-left: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
